{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "quoteProps": "preserve",
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "jsxSingleQuote": true,
  "htmlWhitespaceSensitivity": "css",
  "arrowParens": "always",
  "requirePragma": false,
  "proseWrap": "always"
}
